<section aria-labelledby="impressum-headline">
  <header>
    <!-- Header Bereich -->
    <app-login-header></app-login-header>
  </header>

  <main class="flex justify-center items-center">
    <!-- Main Content -->

    <div class="box flex flex-col gap-8">
      <!-- Kontainer für die Impressum Box -->

      <div>
        <!-- Header Bereich für den Button -->
        <button type="button" class="btn_container flex justify-center items-center" (click)="navigationBackLogin()" aria-label="Back">
          <img class="btn_container btn_back" src="assets/svg/icons/icon_black/arrow_back_black.svg" alt="">
          <img class="btn_container btn_back--hover" src="assets/svg/icons/icon_blue/arrow_back_blue.svg" alt="">
        </button>
      </div>

      <div class="box__content flex flex-col gap-8 h-full">
        <!-- Haupt Bereich der Box wo sich die Impressum informationen und Überschriften befinden! -->
        <div class="box__text flex flex-col gap-4">
          <h2 id="impressum-headline" class="font-bold">Impressum</h2>
          <ul>
            <li>
                [Student Names List]
            </li>
            <li>
                [Address of the DABubble operator - e.g. one of the students]
                [Postcode and city]
            </li>
          </ul>
        </div>
        <div class="box__text flex flex-col gap-4">
          <h2 class="font-bold">Contact:</h2>
          <ul>
            <li>
              Email: [Dein email]
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</section>
