@import '../../../../app.css';
li {
  user-select: text;
}

h2 {
  font-size: clamp(24px, 6vw, 42px) !important;
}

a.back_btn {
  display: inline-flex;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;
}

.legal_title {
  font-size: clamp(32px, 6vw, 46px) !important;
}

.legal_subtitle {
  font-size: clamp(24px, 4.5vw, 32px) !important;
}

.btn_container {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: scale(1);
}

.btn_container .btn_back {
  position: absolute;
  opacity: 1;
}

.btn_container:hover .btn_back {
  opacity: 0;
}

.btn_back--hover  {
  opacity: 0;
}

.btn_container:hover .btn_back--hover {
  opacity: 1;
  transform: scale(1.1);
}

.box__text > ul > li > span {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
