<section class="w-full min-h-screen bg-[var(--bg-color)]" aria-labelledby="imprint-headline">
  <header>
    <app-login-header></app-login-header>
  </header>

  <main class="flex justify-center items-center min-h-[calc(100vh-94px)] px-4 py-6">

    <div class="flex flex-col bg-white w-full max-w-[676px]  p-[20px] rounded-[20px] md:rounded-[30px] shadow-[0_4px_8px_0_rgba(0,0,0,0.2),0_6px_20px_0_rgba(0,0,0,0.10)]">

      <div>
        <a routerLink="/" class="back_btn hover:bg-white justify-self-start">
            <img class="back_btn" src="assets/svg/icons/icon_black/arrow_back_black.svg" alt="back_arrow">
        </a>
      </div>

      <div class="box__content flex flex-col gap-8">
        <div class="box__text flex flex-col gap-4">
          <h2 class="legal_title font-bold text-[var(--btn)]">Impressum</h2>
          <ul>
            <li class="select-text text-base md:text-l">
              [Student Names List]
            </li>
            <li class="select-text text-base md:text-l">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatem labore repellendus officia pariatur minima, alias totam asperiores ipsum illum impedit, illo eius perspiciatis. Ex vitae beatae a iure maxime?
            </li>
          </ul>
        </div>
        <div class="box__text flex flex-col gap-4">
          <h2 class="legal_subtitle font-bold text-[var(--btn)]">Contact:</h2>
          <ul>
            <li class="select-text text-base md:text-l break-all">
              Email: [Dein email]
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</section>
