<main class="flex gap-8 px-8 py-4 justify-between bg-sky-900" >

    <section class="channel flex-col bg-white flex items-center justify-between p-4">
        <div class="flex justify-between w-full">
            <div class="flex items-center gap-4">
                <img class="size-60px" src="assets/svg/devspace/Workspace logo.svg" alt="workspace">
                <h2>Devspace</h2>
            </div>
            <button><img src="assets/svg/icons/icon_black/edit_square_black.svg" alt="edit"></button>
        </div>

        <div class="flex justify-between w-full items-center">
            <div class="flex gap-2">
                <button><img class="size-24px" src="assets/svg/icons/icon_black/arrow_drop_down_black.svg" alt="dropdown-arrow"></button>
                <div class="flex gap-2 items-center">
                    <img class="size-24px" src="assets/svg/icons/icon_black/workspaces_black.svg" alt="workspace">
                    <h3>Channels</h3>
                </div>
            </div>
            <button><img class="size-24px" src="assets/svg/icons/icon_black/add_black.svg" alt="workspace"></button>
        </div>

    </section>

    <section class="chat bg-white flex-1"></section>

    <section class="thread bg-white"></section>
</main>
