@import '../../../app.css';
.channel{
    width: 360px;
    height: 900px;
    border-radius: 30px;
}

.chat{
    height: 900px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.chat_container{
    flex: 1;
    overflow: hidden;
}

.thread{
    width: 420px;
    height: 900px;
    border-radius: 30px;
}

.single_channel{
    font-size: 18px;
    line-height: 100%;
    padding: 4px 20px;
    border-radius: 20px;
}

.dm_user{
    font-size: 18px;
    line-height: 100%;
}

.status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid white;
}

.offline {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid white;
}
.online{
    background-color: rgba(146, 200, 62, 1);
}
.offline{
    background-color: rgba(104, 104, 104, 1);
}

.aktiv_channel{
    background-color: rgba(236, 238, 254, 1);
    color: rgba(83, 90, 241, 1);
    font-style: bold !important;
    font-weight: 800;
}

.add_member{
background-color: rgba(236, 238, 254, 1);


}