import { Environment } from '../app/shared/interfaces/environment';

export const environment: Environment = {
  supabaseUrl: '',
  supabaseKey: '',

  debug_user_name: '',
  debug_user_email: '',
  debug_user_password: '',

  debug_user2_name: '',
  debug_user2_email: '',
  debug_user2_password: '',

  debug_logs: false,
  
  guest_email:'',
  guest_password:'',
};
