@import '../../../../../app.css';

section{
    background-color: var(--bg-color);
    width: 100%;
    padding: 16px 16px 0 16px;
}
.header_login{
display: flex;
justify-content: space-between;
}

h2{
    font-size: 32px !important;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 540px){
.header_Display{
    display: none;
}
.header_login{
    justify-content: center;
}
}