<section class="w-screen bg-[var(--bg-color)]" aria-labelledby="privacy-policy-headline">
  <header>
    <!-- Header Bereich -->
    <app-login-header></app-login-header>
  </header>

  <main class="flex justify-start items-center flex-col h-[calc(100%-94px)] pt-10 px-4 pb-20">
    <!-- Main Content -->

    <div class="max-w-[1312px]">
      <h2 id="privacy-policy-headline" class="font-bold text-[46px] mb-4 text-[var(--btn)]">Datenschutz</h2>

      <div class="flex flex-col gap-9">
        <div class="flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
        <div class="box__item flex flex-col gap-2.5">
          <h3 class="box__item_headline font-bold select-text text-2xl text-[var(--btn)]">Subtitle</h3>
          <p class="box__item_content font-normal select-text text-xl leading-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare
            lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem,
            sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis
            facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus.
            Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque
            et, imperdiet semper justo.
          </p>
        </div>
      </div>
    </div>
  </main>
</section>
