<div class="flex flex-col justify-start bg-white profile_Dialog justify-center gap-[32px] p-[42px]">

    <div class="flex items-center justify-between w-full">
        @if (!editing) {
            <span class="text-2xl font-bold">Profil</span>
        } @else {
            <span class="text-2xl font-bold">Dein Profil bearbeiten</span>
        }
        <button class="rounded-full p-1 pointer-events-auto flex justify-center hover:bg-[var(--hover-bg)]" (click)="closed.emit()"><img src="assets/svg/icons/icon_black/close.svg" alt="close"></button>
    </div>

    <div class="w-full flex justify-center">
        <img class="size-[200px]" [src]="'assets/svg/avatar/avatar_small/' + (profile?.avatar || '1') + '.svg'" alt="avatar">
    </div>

    @if (!editing) {
        <div class="w-full flex justify-between">
            <span class="text-3xl font-bold">{{ profile?.name }}</span>
            <button class="text-[20px] text-[var(--hover-text)] hover:font-bold" (click)="toggleEdit()">Bearbeiten</button>
        </div>

        <div class="justify-start w-full flex items-center gap-[16px]">
            <div class="flex items-center gap-4 w-full">
                <div class="status_dot" [class]="profile?.status"></div>
                <span class="text-xl capitalize" [style.color]="'var(--status-' + (profile?.status) + ')'">{{ profile?.status }}</span>
            </div>
        </div>

        <div class="w-full flex items-center gap-[16px] justify-start">
            <img class="size-[32px]" src="assets/svg/icons/icon_black/mail_black.svg" alt="email_icon">
            <span class="font-bold text-xl">E-Mail-Adresse</span>
        </div>
        <div class="w-full">
            <span class="px-[48px] text-[20px] text-[var(--link-profile)]">{{ profile?.email }}</span>
        </div>
    } @else {
        <form (ngSubmit)="saveEdit()" class="flex flex-col gap-8">
            <div class="flex flex-col gap-2">
                <div class="flex gap-[32px]">
                    <img class="size-[30px]" src="assets/svg/icons/icon_black/account_circle_black.svg" alt="profil_Icon">
                    <span class="text-xl font-bold">Vollständiger Name</span>
                </div>
                <div class="edit_name flex px-4 w-full">
                    <input name="new_Username" minlength="2" maxlength="40" #new_name="ngModel" required [(ngModel)]="nameDraft" class="w-full" type="text" placeholder="{{ profile?.name }}">
                </div>
            </div>
            <div class="flex gap-[30px] w-full justify-center">
                <button type="button" class="btn_raw text-[var(--highligh-color)] border font-bold" (click)="cancelEdit()">Abbrechen</button>
                <button type="submit" [disabled]="new_name.invalid" class="btn_raw bg-[var(--highligh-color)] text-white font-bold">Speichern</button>
            </div>
        </form>
    }
</div>
