
<div class="flex flex-col gap-[30px] items-center">
    <h2>Konto erstellen</h2>
    <span class="text-xl text-center">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>

    <form class="flex justify-center items-center flex-col w-full gap-[12px]" #signInForm="ngForm" (ngSubmit)="setSignInData(signInForm)">
        <div class="w-full">
            <div class="input_container flex items-center p-4 justify-between">
                <img src="assets/svg/icons/icon_grey/person_grey.svg" alt="user-icon">
                <input [(ngModel)]="this.register_Data.name" name="name" class="py-2" type="text" placeholder="Name und Nachname" required #name="ngModel">

            </div>
            <div class="errorContainer">
                        @if (!name.valid && name.touched) {
                        <span class="errorMassage">Bitte schreiben Sie einen Namen.</span>
                        }
            </div>
        </div>

        <div class="w-full">
            <div class="input_container flex items-center p-4 justify-between">
                <img src="assets/svg/icons/icon_grey/mail_grey.svg" alt="mail-icon">
                <input [(ngModel)]="this.register_Data.email" name="email" class="py-2" type="text" placeholder="beispielname@email.com" required #email="ngModel">

            </div>
            <div class="errorContainer">
                        @if (!email.valid && email.touched) {
                        <span class="errorMassage">*Diese E-Mail ist leider Ungültig</span>
                        }
            </div>
        </div>

        <div class="w-full">
            <div class="input_container flex items-center p-4 justify-between">
                <img src="assets/svg/icons/icon_grey/lock_grey.svg" alt="lock-icon">
                <input [(ngModel)]="this.register_Data.password" name="password" class="py-2" type="password" placeholder="Passwort" required #password="ngModel">
                            
            </div>
            <div class="errorContainer">
                        @if (!password.valid && password.touched) {
                        <span class="errorMassage">Bitte geben Sie ein Passwort ein</span>
                        }
            </div>
        </div>

        <div class="w-full">
            <div class="flex items-center w-full justify-start px-2 gap-2" >
                <input type="checkbox" name="privacy" required [(ngModel)]="this.checkbox" #checkbox="ngModel">
                <div>
                    <span >Ich stimme der </span>
                    <a class="text-[var(--link)] text-l" routerLink="Datenschutzerklärung">Datenschutzerklärung </a>
                    <span>zu.</span>
                </div>         
            </div>
                <div class="errorContainer">
                        @if (submitted && checkbox.invalid) {
                        <span class="errorMassage">Bitte Akzeptieren sie die Datenschutzerklärung</span>
                        }
            </div>
        </div>
        
        <div class="flex justify-end">
            <button class="btn_raw text-white bg-[var(--btn)] font-bold" [disabled]="name.invalid || email.invalid || password.invalid" type="submit">Weiter</button>
        </div>
    </form>


</div>


