@if (type === 'chat') {
    <div class="flex items-center gap-2">
        <img class="size-[40px] rounded-full" [src]="'assets/svg/avatar/avatar_small/' + (dmPartner?.avatar || '1') + '.svg'" alt="avatar">
        <h2>{{ dmPartner?.name }}{{ isSelfChat ? ' (Du)' : '' }}</h2>
    </div>
} @else if (type === 'channel') {
    <div class="flex items-center gap-2">
        <h2>{{ channelInfo?.name }} </h2>
        <button (click)="openChannelInfo.emit()" class="hover_btn size-[40px] rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]"><img class="size-24px" src="assets/svg/icons/icon_black/dropdown_black.svg" alt="dropdown-arrow"></button>
    </div>
    <div class="flex items-center gap-4">
        <button (click)="openMembers.emit()" class="flex items-center gap-2 rounded-full px-3 py-1 w-fit hover:bg-[var(--hover-bg)]">
            <div class="flex -space-x-3">
                    @for (member of memberProfiles; track member.id) {
                        <img class="size-[40px] border-1 rounded-full border-white" [src]="'assets/svg/avatar/avatar_small/' + (member.avatar || '1') + '.svg'" alt="avatar">
                    }
            </div>
            @if ((channelInfo?.channel_members?.length ?? 0) > 0) {
                <span class="text-xl">{{ channelInfo?.channel_members?.length ?? 0 }}</span>
            }
        </button>
        <button (click)="openAddMember.emit()" class="add_member hover_btn size-[40px] rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]">
            <img src="assets/svg/icons/icon_black/add_member_black.svg" alt="add_member">
        </button>
    </div>


}
