<!-- <div class="animation_container relative">
	<div class="intro-overlay">
		<img src="assets/svg/logo/Logo.svg" alt="Logo" class="logo-icon">
		<p class="app-name">DABubble</p>
	</div>
</div> -->
<app-login-header></app-login-header>
<section class="flex items-center justify-center">
  <div class="flex items-center flex-col bg-white login_container">
		<h2 class="text-5xl text-[var(--highligh-color)]">Anmeldung</h2>
		<span class="text-xl text-center">Wir empfelen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest</span>

		<form class="flex justify-center items-center flex-col w-full gap-[30px]" action="">
			<div class="input_container flex items-center p-4 justify-between">
				<img src="assets/svg/icons/icon_grey/mail_grey.svg" alt="mail-icon">
				<input class="py-2" type="text" placeholder="beispielname@email.com">
			</div>

			<div class="input_container flex items-center p-4 justify-between">
				<img src="assets/svg/icons/icon_grey/lock_grey.svg" alt="lock-icon">
				<input class="py-2" type="text" placeholder="Passwort">
			</div>
		</form>
		<a class="text-[var(--link)] text-l" href="">Password vergessen?</a>

		<div class="separator flex justify-center">
			<span class="sep_text">ODER</span>
		</div>

		<button class="flex items-center input_container justify-center gap-[30px]">
			<img src="assets/svg/icons/google.svg" alt="google-logo">
			<span>Anmelden mit Google</span>
		</button>

		<div class="flex gap-[30px]">
			<button class="btn_raw bg-[var(--highligh-color)] text-white font-bold">Anmelden</button>
			<button class="btn_raw text-[var(--highligh-color)] border font-bold">Gäste-Login</button>
		</div>
	</div>
</section>
<app-login-footer></app-login-footer>