@import '../../../../app.css';

.dialog_bg{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
}

.dialog_content{
    border-radius: 30px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog_content_side{
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 30px 0px 30px 30px;
}

.profile_dialog_bg{
    z-index: 2;
}

.dialog_content_profile{
    border-radius: 30px;
}