@import '../../../../app.css';
.status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid white;
}

.user_container{
    padding: 4px 24px;
    border-radius: 30px;
    &:hover{
        background-color: var(--hover-bg);
    }
}

.aktiv{
    background-color: var(--hover-bg);
}

.online{
    background-color: var(--status-online)
}
.offline{
    background-color: var(--status-offline);
}