@import '../../../../app.css';
.channel{
    width: 360px;
    height: 900px;
    border-radius: 30px;
}

.chat{
    height: 900px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.chat_container{
    flex: 1;
    overflow: hidden;
}

.thread{
    width: 420px;
    height: 900px;
    border-radius: 30px;
}

.single_channel{
    font-size: 18px;
    line-height: 100%;
    padding: 4px 20px;
    border-radius: 20px;
}

.dm_user{
    font-size: 18px;
    line-height: 100%;
}

.status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid white;
}

.offline {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid white;
}
.online{
    background-color: rgba(146, 200, 62, 1);
}
.offline{
    background-color: rgba(104, 104, 104, 1);
}

.aktiv_channel{
    background-color: rgba(236, 238, 254, 1);
    color: rgba(83, 90, 241, 1);
    font-style: bold !important;
    font-weight: 800;
}

.add_member{
background-color: rgba(236, 238, 254, 1);
}

.separator{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.message_member{
    padding: 16px;
    background-color: rgba(236, 238, 254, 1);
    border-radius: 0 24px 24px 24px;
}

.message_user{
    padding: 16px;
    background-color: rgba(121, 126, 243, 1);
    color: white;
    border-radius: 24px 0 24px 24px;
}

.timestamp{
font-size: 14px;
color: rgba(104, 104, 104, 1);
}

.chat_name{
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
}

.feedback{
    color: rgba(83, 90, 241, 1);
    font-size: 18px;

    &:hover{
    text-decoration: underline;
    cursor: pointer;
    }
}