/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';


@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

*, *::before, *::after {
    font-family: 'Nunito', sans-serif;
}
