@if (showSeparator) {
    <div class="separator flex items-center justify-center">
        <div class="flex-1 h-px bg-[var(--active-border)]"></div>
        <span class="date_bubble ">{{ dateLabel }}</span>
        <div class="flex-1 h-px bg-[var(--active-border)]"></div>
    </div>
}

<div class="chat_message group relative flex py-6 gap-2 cursor-pointer hover:bg-[var(--hover-bg)] my-2" [class.flex-row-reverse]="isOwnMessage()">
    <app-message-actions [isOwnMessage]="isOwnMessage()" [isThread]="isThread()" (react)="react($event)" (openThread)="openThread.emit(message.id)" (edit)="startEdit()"> </app-message-actions>
    
    <img class="size-[70px]" [src]="'assets/svg/avatar/avatar_small/' + (sender?.avatar || '1') + '.svg'" alt="avatar">
    <div class="flex flex-col gap-2 min-w-0">
        <div class="flex items-center gap-6" [class.flex-row-reverse]="isOwnMessage()">
            <span class="chat_name">{{sender?.name}}</span>
            <span class="timestamp">{{message.created_at | date:'HH:mm'}}</span>
        </div>
        @if (!editing) {
            <div class="break-words" [class]="isOwnMessage() ? 'message_user' : 'message_member'">
                <span>{{message.content}}</span>
            @if(message.edited_at !== null && !isThread()){
                <div class="py-1 text-center">
                    <span class="test-s italic text-black/40">-- bearbeitet --</span>
                </div>
            }
            </div>
        } @else {
            <div class="flex flex-col gap-2">
                <input [(ngModel)]="editDraft" name="editDraft" type="text" class="edit_input outline-none w-full px-4 py-3">
                <div class="flex gap-2 justify-end">
                    <button (click)="cancelEdit()" class="btn_raw bg-white text-[var(--highligh-color)] border font-bold">Abbrechen</button>
                    <button (click)="saveEdit()" [disabled]="!editDraft.trim()" class="btn_raw bg-[var(--highligh-color)] text-white font-bold">Editieren</button>
                </div>
            </div>
        }

        @if (message.threads && !isThread()) {
            <div class="flex gap-6 items-center" [class.flex-row-reverse]="isOwnMessage()">
                <button (click)="openThread.emit(message.id)" class="feedback">
                    {{ message.replyCount === 1 ? '1 Antwort' : (message.replyCount ?? 0) + ' Antworten' }}
                </button>
            </div>
        }

        <app-message-reactions [reactions]="message.reactions" [reverse]="isOwnMessage()"></app-message-reactions>
    </div>
</div>
