<div class="reaction_bar absolute opacity-0 group-hover:opacity-100 transition bg-white border border-black/10 rounded-full shadow-md flex items-center gap-3 px-2 py-1" [class.right-4]="!isOwnMessage" [class.left-4]="isOwnMessage">
    @if(!isThread){
        @for (btn of [1,2,3,4]; track btn) {
            <button (click)="react.emit(btn)" class="size-8 rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]">
                <img [src]="'assets/svg/emoji/emoji' + btn + '.svg'" alt="reaction">
            </button>
        }
    }
    @else {
        <div class="group/quick">
            <button class="relative size-8 rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]">
                <img src="assets/svg/icons/icon_black/add_reaction.svg" alt="reaction">
            </button>
            <div class="quick_bubble absolute opacity-0 invisible group-hover/quick:opacity-100 group-hover/quick:visible transition bg-white border border-black/10 rounded-full shadow-md flex items-center gap-1 px-1 py-1" [class.quick_bubble_own]="isOwnMessage">
                @for (btn of [1,2,3,4]; track btn) {
                    <button (click)="react.emit(btn)" class="size-7 rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]">
                        <img class="size-[18px]" [src]="'assets/svg/emoji/emoji' + btn + '.svg'" alt="reaction">
                    </button>
                }
            </div>
        </div>
    }

    @if (!isThread) {
        <button (click)="openThread.emit()" class="size-8 rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]">
                <img src="assets/svg/icons/icon_black/answer.svg" alt="reaction">
        </button>
    }

    @if (isOwnMessage) {
        <div class="relative group/menu">
            <button class="size-10 rounded-full flex items-center justify-center hover:bg-[var(--hover-bg)]"><img src="assets/svg/icons/icon_black/menu.svg" alt=""></button>
            <div class="edit_bubble absolute opacity-0 invisible group-hover/menu:opacity-100 group-hover/menu:visible transition">
                <div class="edit_menu edit_shape bg-white border border-black/10 shadow-md whitespace-nowrap">
                    <button (click)="edit.emit()" class="edit_shape w-full text-left py-2 px-4 py-2 text-xl hover:bg-[var(--hover-bg)] hover:text-[var(--hover-text)] hover:font-bold">Nachricht bearbeiten</button>
                </div>
            </div>
        </div>
    }
</div>
